@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

body {
	font-family: 'Josefin Sans', sans-serif;
}

.tabs li {
	display: inline-block;
	text-decoration: none;
	margin-bottom: auto;
	max-width: 600px;
	margin-right: 50px;
	margin-left: 50px;
	cursor: pointer;
}